.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
@media screen and (min-width: $mobile) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: $tablet) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: $desktop) {
  .container {
    width: 1200px;
  }
}
