.header {
  border-bottom: solid 1px #ececec;
}
.header__wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 80px;
  }
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    flex-basis: 492px;
  }
}
.header__mobile-btn {
  background: none;
  border: none;
  margin-right: 8px;
  &:focus {
    fill: $brand-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.header__contacts {
  @extend %reset-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 40px;
  }
}
