.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $contrast-color;
  z-index: 5;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  &.d-none {
    display: none;
  }
  &__btn {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
  }
  &__list-nav,
  &__list-contact,
  &__list-social {
    @extend %reset-list;
  }
  &__item-nav {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 0.8em;
  }
  &__link-nav {
    @extend %reset-link;
    color: $strong-color;
    &--accent {
      color: $brand-color;
    }
  }
  &__list-contact {
    margin-bottom: 64px;
  }
  &__list-contact-tel {
    margin-bottom: 32px;
  }
  &__link-contact-tel {
    @extend %reset-link;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $brand-color;
  }
  &__link-contact-mailto {
    @extend %reset-link;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $weak-color;
  }
  &__list-social {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__link-social {
    @extend %reset-link;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $brand-color;
  }
  &__item-social:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
